

{% block content %}

 {% if form.errors %}
   <p class="error">Sorry, this is not a valid username or password</p>
 {% endif %}

 <form action="/authcheck" method="post">{% csrf_token %}
 <label for="username">User name</label>
 <input type="text" name="username" value="" id="username"><br/><br/>
 <label for="password">Password</label>&nbsp&nbsp
 <input type="password" name="password" value="" id=password><br/><br/>

 <input type="submit" value="login"/>
 </form>
 <br/>
 <a href="/register">Sign up</a>

 {% endblock %}
