{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'images/styles.css' %}" />
<div style="margin-left:480px; margin-top:210px;">
<h1>{{user.username}}'s home </h1>
<form action="/editprofile" method="post">
<br/>
<br/>
<br/>
<table>
<tr>
<td>Name:</td>
<td><input type="text" value="{{profile.name}}" name="name"></td>
</tr>
<tr>
<td>Address:</td>
<td><input type="text" value="{{profile.address}}" name="address"></td>
</tr>
<tr>
<td>Phone:</td>
<td><input type="text" value="{{profile.phone}}" name="phone"></td>
</tr>
</table>
<input type="submit" value="Update">&nbsp;&nbsp;<a href="/profile">Skip editting</a> 
</form>