{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css/background' %}" />
<body style="background-image: url({% static "background.jpg" %})">
	<div style="margin-left:480px; margin-top:180px;">
	<h1>EVENTS</h1>
<ol>
    {% for p in post %}
        <li><a href="{% url 'logg' p.id %}">{{ p.title }}</a></li>
        
    {% endfor %}
 </ol>

