<html>
<head>
<style>
body {
    margin-left: 200px;
    background: #5d9ab2 url("img_tree.png") no-repeat top left;
}

.container {
    text-align: center;
}

.center_div {
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #d0f0f6;
    text-align: left;
    padding: 8px;
}
</style>
</head>
<body>

<div class="container">
  <div class="center_div">
    <h1>Hello Friends</h1>
    <p>Welcome.This is a sample project to understand how to create a website.Enjoy navigating.</p>
  </div>
</div>



{% block content %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
<div style="margin-left:300px; margin-top:100px;">

 {% if form.errors %}
   <p class="error">Sorry, this is not a valid username or password</p>
 {% endif %}
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="white">Login Page</font></h1>
<div></div>
 <form action="/authcheck" method="post">{% csrf_token %}
 <label for="username"><b><font color="red">User name</font></b></label>
 <input type="text" name="username" value="" id="username"><br/><br/>
 <label for="password"><b><font color="red">Password</font></b></label>&nbsp;
 <input type="password" name="password" value="" id=password><br/><br/>
 <div>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 <input type="submit" value="Login"/>
 &nbsp;
 <a href="/register"><font color="white">Sign Up</font></a></div></form>
 </div>
 {% endblock %}

 </body>
</html>
