<html>
<head>
{% load staticfiles %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'images/styles.css' %}" />
<div style="margin-left:480px; margin-top:10px;">
</head>
<body>
<h2>{{ post.title }}</h2>

<div class="content">
    <p>
        {{ post.text }}
   
</div>

{% if post.comment_set.all %}
<h2>Comments</h2>
<div class="comments">
    {% for comment in post.comment_set.all %}
        <span>
           <h4> {{ comment.name }} </h4>
        </span>
         <span>
         <p> 
           <textarea rows="3" cols="50">
{{ comment.text }}
            </textarea>
         </p>
         </span>
    {% endfor %}
</div>
{% endif %}

<br />

<h2>Add Comment</h2>

<form action="{% url 'logg' post.id %}" method="post">
    
   
        {{ textform.text }}<br/>
    <input type="submit" value="Submit" />
    <td><a href="/logout">Logout</a></td>
</form>
</body>
</html>
