{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'styles2.css' %}" />
<body style="background-image: url({% static "logoutbackground.jpg" %})">
	<div style="margin-left:450px; margin-top:180px;">
<h1> <font color="red">Logout Successful</font> </h1>
<td><a href="/index">Login again?</a></td>