
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css/background' %}" />
<body style="background-image: url({% static "background.jpg" %})">
	<div style="margin-left:450px; margin-top:180px;">
<h1>Profile Updation Success</h1>
<td><a href="/index">Go Home</a></td>