{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css/background3' %}" />
<body style="background-image: url({% static "background3.jpg" %})">
	<div style="margin-left:480px; margin-top:210px;">
<h3>Hi {{full_name.capitalize}} you are now logged in!</h3>
<p>Click <a href="/eventlist">here</a> to see the events </p>
<p>Click <a href="/editprofile">here</a> to edit your profile</p>
<br/>
<br/>
<br/>
<table>
<tr>
<td>Name:</td>
<td>{{full_name.capitalize}}</td>
</tr>
<tr>
<td>Address:</td>
<td>{{address}}</td>
</tr>
<tr>
<td>Phone:</td>
<td>{{phone}}</td>
</tr>
</table>
