{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css/background2' %}" />
<body style="background-image: url({% static "background2.jpg" %})">
	<div style="margin-left:480px; margin-top:210px;">
<h2>Sign up</h2>
<form action="/register" method="post">
{% if registered %}
<h3><font color="Red">Thank you for registering</font></h3>
{% else %}
<table>
<tr>
<td>Name:</td>
<td>{{profile_form.name}}{{profile_form.name.errors}}</td>
</tr>
<tr>
<td>Address:</td>
<td>{{profile_form.address}}{{profile_form.address.errors}}</td>
</tr>
<tr>
<td>Phone:</td>
<td>{{profile_form.phone}}{{profile_form.phone.errors}}</td>
</tr>
<tr>
<td>Username:</td>
<td>{{user_form.username}}</td>
</tr>
<tr>
<td>Password</td>
<td>{{user_form.password}}</td>
</tr>
<tr>
<td><input type="submit" value="Register"/></td>
<td>I will<a href="/index"> register </a>later</td>
</tr>
</table>
</form>
{%endif%}
{%endblock%}
